In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from pathlib import Path

In [8]:
data_folder = Path("Data_donnees")
f1 = data_folder / "clps2021ecpj_p.csv"
f2 = data_folder / "Clps2021ecpj_p_bsw.csv"
df1 = pd.read_csv(f1)
df2 = pd.read_csv(f2)

In [7]:
df1.head()

,PUMFID,PHHP01P,PHHP02P,AGEGRP,REGION,RURURBP,GDRP10,SORFLAGP,IIDFLGP,VISMFLP,...,IMMSTP2P,IM01FLP,IMEP05A,IMEP05B,IMEP06,DISP10,LANP04P,THINCP1P,WTPP,VERDATE
0,4321,3,3,5,4,2,2,1,2,2,...,1,1,1,2,1,2,1,4,550.7652,28/02/2022
1,4322,2,2,1,5,2,2,1,2,9,...,1,1,1,2,1,2,1,4,3146.9248,28/02/2022
2,4323,3,1,3,4,2,1,1,2,2,...,1,1,1,2,1,2,1,5,527.6367,28/02/2022
3,4324,2,2,3,1,1,1,1,2,2,...,1,1,1,2,1,2,1,1,427.9198,28/02/2022
4,4325,3,3,6,1,2,1,1,2,2,...,1,1,1,2,1,1,1,2,124.5880,28/02/2022

In [9]:
df1.shape

(21170, 277)

In [10]:
df1.columns

Index(['PUMFID', 'PHHP01P', 'PHHP02P', 'AGEGRP', 'REGION', 'RURURBP', 'GDRP10',
       'SORFLAGP', 'IIDFLGP', 'VISMFLP',
       ...
       'IMMSTP2P', 'IM01FLP', 'IMEP05A', 'IMEP05B', 'IMEP06', 'DISP10',
       'LANP04P', 'THINCP1P', 'WTPP', 'VERDATE'],
      dtype='object', length=277)

In [11]:
df1.describe()

,PUMFID,PHHP01P,PHHP02P,AGEGRP,REGION,RURURBP,GDRP10,SORFLAGP,IIDFLGP,VISMFLP,...,IMMSTPP,IMMSTP2P,IM01FLP,IMEP05A,IMEP05B,IMEP06,DISP10,LANP04P,THINCP1P,WTPP
count,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,...,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000
mean,14905.500000,3.469249,4.150779,4.108266,2.822815,1.755692,1.536845,1.438970,1.856731,1.945631,...,1.282192,1.489797,1.266651,1.152480,2.053850,1.404535,1.893434,1.577326,13.855078,1421.444733
std,6111.396935,10.718728,14.104776,1.619299,1.383046,0.429686,0.498652,1.751829,0.533026,0.787510,...,1.056042,1.457190,0.994571,1.010311,0.913641,1.353059,0.604188,1.113518,30.399040,1508.295814
min,4321.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.336000
25%,9613.250000,2.000000,2.000000,3.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,277.869825
50%,14905.500000,2.000000,2.000000,4.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,3.000000,570.929500
75%,20197.750000,3.000000,3.000000,6.000000,4.000000,2.000000,2.000000,1.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,5.000000,2526.722000
max,25490.000000,99.000000,99.000000,6.000000,5.000000,2.000000,2.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,99.000000,8410.504900

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21170 entries, 0 to 21169
Columns: 277 entries, PUMFID to VERDATE
dtypes: float64(1), int64(275), object(1)
memory usage: 44.7+ MB

In [13]:
df2.head()

,PUMFID,WRPP1,WRPP2,WRPP3,WRPP4,WRPP5,WRPP6,WRPP7,WRPP8,WRPP9,...,WRPP992,WRPP993,WRPP994,WRPP995,WRPP996,WRPP997,WRPP998,WRPP999,WRPP1000,VERDATE
0,4321,302.9682,801.3434,265.4617,254.8394,265.2547,551.8191,796.9383,758.1884,548.9529,...,340.4236,284.3375,246.5197,262.5816,991.7010,858.7693,341.9886,681.2128,769.4122,28/02/2022
1,4322,2869.3084,3558.5099,4095.6777,3006.8816,1271.1482,2041.1164,3270.3206,1991.9051,3309.3506,...,4431.1844,4651.5455,1723.4608,4471.8345,5006.4030,1379.2867,2901.2980,3557.2835,1196.5722,28/02/2022
2,4323,243.0945,499.4690,243.8649,507.3429,243.0107,459.0245,516.6857,493.1509,500.5361,...,252.0386,510.7975,504.4169,754.3580,545.1375,790.8121,1122.3278,638.0995,251.6139,28/02/2022
3,4324,913.6988,409.0209,442.6099,276.5143,189.5168,273.0740,202.3022,141.7744,657.5307,...,518.9422,193.9170,237.3975,189.2938,199.4640,661.1878,693.0314,231.7894,213.3179,28/02/2022
4,4325,142.5420,140.7248,104.1861,131.6955,133.8168,220.5853,79.2039,87.4434,74.9039,...,49.8680,53.9573,142.7344,195.4853,40.1018,149.1677,45.8841,76.9875,206.4513,28/02/2022

In [14]:
df2.shape

(21170, 1002)

In [15]:
df2.describe()

,PUMFID,WRPP1,WRPP2,WRPP3,WRPP4,WRPP5,WRPP6,WRPP7,WRPP8,WRPP9,...,WRPP991,WRPP992,WRPP993,WRPP994,WRPP995,WRPP996,WRPP997,WRPP998,WRPP999,WRPP1000
count,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,...,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000,21170.000000
mean,14905.500000,1420.580604,1421.245666,1421.394244,1421.360719,1421.379968,1421.112186,1421.674314,1420.567257,1421.572578,...,1422.088777,1420.950358,1421.075891,1421.136387,1420.945374,1421.810279,1421.552476,1420.626116,1422.233717,1421.323463
std,6111.396935,1829.136869,1834.499696,1828.109464,1822.733729,1823.047514,1828.948717,1828.101082,1819.554354,1824.782902,...,1824.409714,1822.796049,1823.033420,1818.927032,1832.262127,1827.535487,1826.281609,1826.835184,1822.469700,1820.135038
min,4321.000000,8.385900,9.735600,10.118600,9.392000,10.584300,10.353300,9.387100,10.620700,9.486800,...,9.635700,8.566000,8.592300,10.451800,8.647700,9.928500,10.970300,6.914200,9.867600,8.879400
25%,9613.250000,231.370400,227.730750,227.664525,228.804875,228.586500,229.151100,230.972600,229.069175,229.931125,...,228.730400,230.831975,229.161175,228.538550,229.006825,230.970900,231.609725,230.826825,229.339250,226.796125
50%,14905.500000,597.162700,601.696550,594.811950,599.320800,599.292200,602.405300,589.130000,593.737050,595.370750,...,597.784600,603.867400,607.517850,602.798650,601.285000,597.308700,595.072350,598.653550,597.266350,597.954400
75%,20197.750000,1957.875125,1978.917225,1980.518300,2007.630725,2008.101100,1958.818975,2040.278275,1991.089075,2012.969175,...,2007.786375,1979.728325,2009.772050,2007.262250,2018.915825,2012.517850,2024.273350,1982.905125,2024.464525,2015.573325
max,25490.000000,20302.520500,18973.537900,19252.659000,23707.669500,16983.194000,19983.139100,24861.652200,19451.100500,18285.290700,...,18422.747400,16640.897300,19149.564100,17736.941500,16705.921500,18054.333700,17274.338900,17473.876300,20505.322300,19659.237700

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21170 entries, 0 to 21169
Columns: 1002 entries, PUMFID to VERDATE
dtypes: float64(1000), int64(1), object(1)
memory usage: 161.8+ MB

In [17]:
df1.tail()

,PUMFID,PHHP01P,PHHP02P,AGEGRP,REGION,RURURBP,GDRP10,SORFLAGP,IIDFLGP,VISMFLP,...,IMMSTP2P,IM01FLP,IMEP05A,IMEP05B,IMEP06,DISP10,LANP04P,THINCP1P,WTPP,VERDATE
21165,25486,3,3,6,3,2,1,1,2,2,...,3,2,1,2,2,2,3,3,2548.2074,28/02/2022
21166,25487,3,3,3,2,2,2,1,2,2,...,1,1,1,2,1,2,2,5,3128.6861,28/02/2022
21167,25488,3,3,4,5,2,2,1,1,2,...,1,1,1,2,1,2,1,99,231.6520,28/02/2022
21168,25489,2,2,6,5,1,1,1,2,2,...,1,1,1,2,1,2,1,2,2041.4463,28/02/2022
21169,25490,1,1,6,5,2,2,1,2,2,...,1,1,1,2,1,1,1,1,2898.9543,28/02/2022

In [19]:
df1.PUMFID.is_monotonic_increasing

True

In [23]:
(df1.PUMFID == df2.PUMFID).all()

True

In [34]:
df2.sum().to_frame().iloc[1:-1].astype('float').describe()

                  0
count  1.000000e+03
mean   3.009159e+07
std    1.140916e+04
min    3.004820e+07
25%    3.008416e+07
50%    3.009122e+07
75%    3.009928e+07
max    3.013170e+07